section#kontakt {
  margin: 3rem 0;
  width: 100%;
}

section#kontakt > h2 {
  font-size: 3.5rem;
}

section#kontakt > h2 > span {
  color: rgb(234, 39, 52);
}

p.kontakt-titel {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #24262f;
}

p.kontakt-info {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 300;
  color: #24262f;
}

div.kontakt-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

div.info-container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

div.kontakt-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

div.kontakt-links div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.3rem;
}

div.kontakt-links .material-icons {
  font-size: 3rem;
  color: rgb(234, 39, 52);
}

div.kontakt-rechts {
  flex: 1 1 0;
  height: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

div.kontakt-rechts > img {
  width: 320px;
}

@media (max-width: 768px) {
  div.kontakt-rechts {
    justify-content: center;
  }
}
