.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
}

header#about {
  display: flex;
  margin: 3rem 0;
  flex-wrap: wrap;
  width: 100%;
  scroll-margin-top: 110px;
  height: 95vh;
  padding: 0 0.5rem;
}

.left-column {
  flex-shrink: 1;
  flex-grow: 3;
  flex-basis: 0;
}

.right-column {
  flex: 1 1 0;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
  gap: 1.5rem;
}

.right-column {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

div.left-column h1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: -8px;
}

div.left-column h2 {
  font-size: 6rem;
  font-weight: 800;
  line-height: 0.8;
}

div.left-column h2 > span {
  color: rgb(234, 39, 52);
}

div.left-column p {
  font-size: 1.5rem;
  font-weight: 300;
}

div.cta {
  display: flex;
  gap: 8px;
}

div.cta > a {
  text-decoration: none;
  color: black;
  border: 2px solid rgb(234, 39, 52);
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 8px;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

div.cta .contact-cta {
  background-color: rgb(234, 39, 52);
  color: aliceblue;
}

div.cta .contact-cta:active {
  background-color: rgb(186, 24, 35);
}

div.cta .projects-cta:active {
  background-color: #24262f;
  border: 2px solid #24262f;
  color: aliceblue;
}

div.right-column > img {
  height: 320px;
  width: 320px;
  border-radius: 50%;
  border: 1px dotted rgb(234, 39, 52);
  padding: 1.2rem;
  object-fit: cover;
}

@media (hover: hover) and (pointer: fine) {
  div.cta .contact-cta:hover {
    background-color: rgb(186, 24, 35);
  }

  div.cta .projects-cta:hover {
    background-color: #24262f;
    border: 2px solid #24262f;
    color: aliceblue;
  }
}

@media (max-width: 1000px) {
  div.left-column h1 {
    font-size: 1.3rem;
  }

  div.left-column h2 {
    font-size: 5rem;
  }

  div.left-column p {
    font-size: 1.3rem;
  }

  div.cta > a {
    padding: 0.5rem;
    font-size: 1.1rem;
  }
}

@media (max-width: 880px) {
  .left-column {
    flex: 2 1 400px;
  }

  div.left-column h1 {
    font-size: 1.4rem;
  }

  div.left-column h2 {
    font-size: 3.5rem;
  }

  div.left-column p {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }

  .right-column {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  div.cta {
    justify-content: center;
  }
}

@media (max-width: 330px) {
  div.cta > a {
    font-size: 0.9rem;
  }
}
