section#ueber-uns {
}

section#ueber-uns > h2 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

section#ueber-uns > h2 > span {
  color: rgb(234, 39, 52);
}

section#ueber-uns > p.titel {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #24262f;
}

section#ueber-uns > p.info {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #24262f;
}

section#ueber-uns div.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;
  padding-top: 3rem;
  background-color: #ffffff;
  margin-bottom: 3rem;
}

div.ueber-uns-card {
  border-radius: 1rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

div.ueber-uns-card .card-image {
  display: flex;
  justify-content: center;
}

.card-content h3 {
  font-size: 1.5rem;
  font-weight: 700;
  align-self: flex-start;
  margin-bottom: 0.5rem;
  color: #24262f;
}

.card-content p {
  font-size: 1.3rem;
  font-weight: 300;
  color: #24262f;
}

@media (max-width: 850px) {
  section#ueber-uns div.cards-container {
    grid-template-columns: 1fr;
  }
}
